* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: -webkit-fill-available;
  /*WebKit-based browsers will ignore this*/
  height: -moz-available;
  /*Mozilla-based browsers will ignore this.*/
  height: -webkit-fill-available;
  /*For WebKit-based browsers, Edge not support this*/
  height: fill-available;
}
