.title {
  margin-bottom: 10px;
}

.shopCardLayout {
  width: 100%;
}

.shops {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;

  .shop {
    margin-right: 20px;
    width: 300px;
  }
}
