.headerLayout {
  display: flex;

  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  div {
    display: flex;
    align-items: center;
    img {
      width: 100px;
      margin-right: 20px;
    }
    h2 {
      font-size: 20px;
      color: #39393e;
    }
  }
}

.tabsLayout {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;

  width: 100%;

  > div {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
    margin: 0 auto;
    a {
      padding: 14px;
      color: var(--primary-gray);
      &.active {
        border-bottom: 4px solid #178fac;
        color: #178fac;
      }
    }
  }
}
