.home {
  section {
    margin-bottom: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
  }
}
main {
  .campaign {
    margin-bottom: 50px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
