.footerLayout {
  @media (max-width: 720px) {
    display: none;
  }
  background-color: #000000;
  padding: 50px 15px 100px 15px;
  margin-top: 50px;
}

.right {
  text-align: right;
  .langaugeSelector {
    display: flex;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    p {
      margin-left: 5px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
