.cartLayout {
  min-height: calc(100vh - 200px);
  text-align: center;
}

.selectAll {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  > input {
    margin-right: 10px;
  }
}

.container {
  display: flex;
  align-items: flex-start;

  justify-content: space-between;
  .productCardsLayout {
    flex: 1;
  }

  .cards {
    width: 60%;
  }
}

.totalPriceContainer {
  width: 30%;
  margin-left: 15px;
  @media (max-width: 720px) {
    display: none;
  }
  border: 1px solid var(--border-gray);
}
